<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{course.id}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-show="course">
          <h2>{{course.name.en}}</h2>
          <md-subheader class="md-primary">Credit : {{ course.credit.total }}({{ course.credit.lecture }}-{{ course.credit.lab }}-{{ course.credit.self }})</md-subheader>
          <md-button ng-disabled="true" class="md-primary" ng-if="!isAvailable">There is no section available this semester</md-button>
          <md-table-container ng-if="isAvailable">
            <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column><span>Section</span></th>
                  <th md-column>Type</th>
                  <th md-column>Date</th>
                  <th md-column>Location</th>
                  <th md-column>Instructor</th>
                  <th md-column>Enrolled</th>
                  <th md-column>Credit/Audit</th>
                  <th md-column>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="section in sections">
                  <td md-cell>{{section.id}}</td>
                  <td md-cell>{{section.type}}</td>
                  <td md-cell>{{section.date}}</td>
                  <td md-cell>{{section.location}}</td>
                  <td md-cell>
                    <p ng-repeat="instructor in section.instructors">{{instructor}}</p>
                  </td>
                  <td md-cell>
                    <p ng-if="getEnrollment(course.id, section)">{{getEnrollment(course.id, section).section.enrolled}}/{{section.accept}}</p>
                    <p ng-if="!getEnrollment(course.id, section)">{{section.enrolled}}/{{section.accept}}</p>
                  </td>
                  <td md-cell>

                    <md-input-container>
                      <md-select ng-disabled="getEnrollment(course.id, section).regisType" aria-label="regisType" name="regisType" ng-model="regisType" required>
                        <md-option value="Credit" ng-selected="!getEnrollment(course.id, section).regisType || getEnrollment(course.id, section).regisType == 'Credit' ">Credit</md-option>
                        <md-option value="Audit" ng-selected="getEnrollment(course.id, section).regisType == 'Audit' ">Audit</md-option>
                      </md-select>

                    </md-input-container>

                  </td>
                  <td md-cell>
                    <md-button ng-model="enrollButton" class="md-raised md-primary" ng-click="answer(section, regisType)" ng-if="!isSectionEnrolled(course.id, section) && !press.isPressed">
                     Enroll
                    </md-button>
                    <md-button ng-model="enrollButton" class="md-raised md-warn" ng-click="confirmDrop(course, section)" ng-if="isSectionEnrolled(course.id, section) && !press.isPressed">
                     Drop
                    </md-button>
                    <md-progress-circular md-mode="indeterminate" md-diameter="70%" ng-show="press.isPressed && section == press.section"></md-progress-circular>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>


          <h3>Description</h3>
          <p>
            {{course.description.en}}
          </p>
          <p>
            {{course.description.th}}
          </p>


        </div>
        <md-progress-circular md-mode="indeterminate" md-diameter="100%" ng-show="!course"></md-progress-circular>

      </div>
    </md-dialog-content>
    <md-dialog-actions ng-show="course" layout="row">
      <span flex></span>
      <md-button ng-disabled="true" class="md-primary" ng-if="isEnrolled">Already Enrolled</md-button>
      <md-button ng-disabled="true" class="md-primary" ng-if="!isAvailable && !isEnrolled">No Section Available</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
