<md-toolbar md-scroll-shrink class="md-whiteframe-2dp">
  <div class="md-toolbar-tools md-display-1">
    <h3 class="content-header">Courses Available</h3>
  </div>
</md-toolbar>

<div flex-offset="10" flex="80">
          <div>
            <md-input-container class="md-block">
              <label>Search</label>
              <input ng-model="search">
            </md-input-container>
          </div>

      <md-list ng-cloak>
        <md-card class="nga-fast nga-stagger nga-fade" ng-repeat="course in courses | filter:search track by course.id">
        <md-list-item class="secondary-button-padding" ng-click="showDescription(course.id)">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ course.id }}</h3>
            <p>{{ course.name.en }}</p>
            <md-button ng-if="isEnrolled( course.id )" class="nga-fast nga-stagger nga-fade md-secondary" ng-disabled="true">Enrolled</md-button>
          </div>
        </md-list-litem>
        </md-card>
      </md-list>

</div>
