<md-toolbar md-scroll-shrink class="md-hue-1 md-whiteframe-4dp">
  <div class="md-toolbar-tools md-display-1">
    <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <div layout="row" layout-align="center center">
      <h3 class="content-header">Course Enrollment</h3>
    </div>
    <div layout="row" layout-align="center center">
      <md-icon icon="chevron_right" style="font-size:28px">chevron_right</md-icon>
    </div>
    <md-input-container flex="70" layout="row" layout-align="center center">
      <label>&nbsp;</label>
      <input ng-model="search" placeholder="Search">
    </md-input-container>
    <div class="animated fadeInRight" layout="row" layout-align="center center">
      <md-icon icon="search">search</md-icon>
    </div>
  </div>
</md-toolbar>

<md-content style="height: 100vh; background-color:#eee">

<div flex-offset="10" flex="80">

      <div ng-if="!courses" layout="row" layout-align="center none">
        <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
      </div>

      <md-list ng-cloak>
        <md-card class="nga-fast nga-stagger nga-fade" ng-repeat="course in userData.courses | filter:search track by course.id">
        <md-list-item class="secondary-button-padding" ng-click="showDescription(course.id)">
          <div layout="column">
            <md-icon class="md-avatar-icon" style="font-size:32px; color:green">check</md-icon>
          </div>
          <div class="md-list-item-text" layout="column">
            <h3>{{ course.id }}</h3>
            <p>{{ course.name.en }}</p>
            <span ng-if="isEnrolled( course.id )" class="md-body-2 nga-fast nga-stagger nga-fade md-secondary" ng-disabled="true" style="color:green">ENROLLED</span>
            <md-button ng-if="!isCourseAvailable( course.id )" class="nga-fast nga-stagger nga-fade md-secondary" ng-disabled="true">UNAVAILABLE</md-button>
          </div>
        </md-list-litem>
        </md-card>
        <md-divider ></md-divider>

        <md-card ng-if="!isEnrolled( course.id )" class="nga-fast nga-stagger nga-fade" ng-repeat="course in courses | filter:search track by course.id">
        <md-list-item class="secondary-button-padding" ng-click="showDescription(course.id)">
          <div layout="column">
            <md-icon class="md-avatar-icon" style="font-size:32px">school</md-icon>
          </div>
          <div class="md-list-item-text" layout="column">
            <h3>{{ course.id }}</h3>
            <p>{{ course.name.en }}</p>
            <span ng-if="isEnrolled( course.id )" class="md-body-2 nga-fast nga-stagger nga-fade md-secondary" ng-disabled="true" style="color:green">ENROLLED</span>
            <md-button ng-if="!isCourseAvailable( course.id )" class="nga-fast nga-stagger nga-fade md-secondary" ng-disabled="true">UNAVAILABLE</md-button>
          </div>
        </md-list-litem>
        </md-card>
      </md-list>

</div>

</md-content>

<md-button ng-if="courses" class="animated fadeInUp md-fab md-accent md-fab-bottom-right" style="position:fixed" aria-label="ShowJSON" ng-click="showJSON(courses)">
  <md-tooltip md-direction="left" md-visible="tooltipVisible">Show JSON</md-tooltip>
  <md-icon icon="code">code</md-icon>
</md-button>
