<md-toolbar md-scroll-shrink class="md-whiteframe-3dp">
  <div class="md-toolbar-tools md-display-1">
    <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h3 class="content-header">Student Dashboard</h3>
  </div>
</md-toolbar>

<div class="md-padding"></div>

<md-card flex-offset="10" flex="80" class="animated fadeIn">
  <md-card-content>
    <h2 class="content-header">Student Profile</h2>
    <md-divider ></md-divider>
    <md-list class="" ng-cloak>
      <md-subheader class="content-header md-no-sticky">Student Information</md-subheader>
      <md-list-item layout="row">
        <p class="md-headline text-front">Name</p>
        <div flex="5"></div>
        <p class="md-headline">John Doe</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Student ID</p>
        <div flex="5"></div>
        <p class="md-title text-sub">5610545811</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Account</p>
        <div flex="5"></div>
        <p class="md-title text-sub">b5610545811</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Email</p>
        <div flex="5"></div>
        <p class="md-title text-sub">b5610545811@ku.ac.th</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Sex</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Male</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Country</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Thailand</p>
      </md-list-item>
      <md-divider ></md-divider>

      <md-subheader class="content-header md-no-sticky">Education Information</md-subheader>
      <md-list-item layout="row">
        <p class="md-headline text-front">Major Field</p>
        <div flex="5"></div>
        <p class="md-headline">Software & Knowledge Engineering (E17)</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Degree Level</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Bachelor</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Faculty</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Engineering</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Program Type</p>
        <div flex="5"></div>
        <p class="md-title text-sub">International Program (Special Program)</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Status</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Currently studying</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Advisor</p>
        <div flex="5"></div>
        <p class="md-title text-sub">Punpiti Piamsa-Nga (E9013)</p>
      </md-list-item>
      <md-divider ></md-divider>



      <md-subheader class="content-header md-no-sticky">Registration</md-subheader>
      <md-list-item layout="row">
        <p class="md-headline text-front">Eligibility</p>
        <div flex="5"></div>
        <p class="md-headline" style="color:green">Eligible</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Registration Date</p>
        <div flex="5"></div>
        <p class="md-title text-sub">10-01-2016</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Registration Time</p>
        <div flex="5"></div>
        <p class="md-title text-sub">11:00-12:00</p>
      </md-list-item>
      <md-divider ></md-divider>


      <md-subheader class="content-header md-no-sticky">Payment Information</md-subheader>
      <md-list-item layout="row">
        <p class="md-headline text-front">Status</p>
        <div flex="5"></div>
        <p class="md-headline" style="color:green">Paid</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Payment Date</p>
        <div flex="5"></div>
        <p class="md-title text-sub">08-01-2016</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Amount</p>
        <div flex="5"></div>
        <p class="md-title text-sub">60700</p>
      </md-list-item>
      <md-list-item layout="row">
        <p class="md-title text-front">Bank</p>
        <div flex="5"></div>
        <p class="md-title text-sub" style="color:purple">Siam Commercial Bank</p>
      </md-list-item>



    </md-list>
  </md-card-content>
</md-card>

<md-button ng-if="userData" class="animated fadeInUp md-fab md-accent md-fab-bottom-right" style="position:fixed" aria-label="ShowJSON" ng-click="showJSON(userData)">
  <md-tooltip md-direction="left" md-visible="tooltipVisible">Show JSON</md-tooltip>
  <ng-md-icon icon="code"></ng-md-icon>
</md-button>


<div class="md-padding"></div>
