<md-toolbar md-scroll-shrink class="md-whiteframe-3dp">
  <div class="md-toolbar-tools md-display-1">
    <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h3 class="content-header">KU Student System</h3>
    <div layout="row" layout-align="center center">
      <md-icon icon="chevron_right" style="font-size:28px">chevron_right</md-icon>
    </div>
    <h3 class="content-header">Report</h3>
  </div>
</md-toolbar>

<div class="md-padding"></div>

<md-card flex-offset="10" flex="80" class="animated fadeIn">
  <md-card-content>
    <h2 class="content-header">Registration Report</h2>
    <md-divider ></md-divider>
    <div ng-if="getTotalCredits()">
      <h1 class="content-header md-display-4 text-green">{{getTotalCredits()}}</h1>
      <h4 class="content-header text-sub-grey">OF 22 CREDITS IN TOTAL</h4>
    </div>
    <div ng-if="!courses" layout="row" layout-align="center none">
      <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
    </div>
    <md-divider ></md-divider>
    <md-list ng-if="courses" class="nga-fast nga-stagger nga-fade" ng-cloak>
      <md-list-item class="nga-fast nga-stagger nga-fade secondary-button-padding" ng-repeat="course in courses | filter:search" ng-click="showDescription(course.id)">
        <div class="md-list-item-text" layout="column" flex="40">
          <h3>{{ course.id }}</h3>
          <h4 class="text-semilight">{{ course.name.en }}</h4>
          <span class="text-light-grey" ng-repeat="instructor in course.section.instructors">{{instructor}}</span>
        </div>
        <div class="md-padding" layout="column"></div>
        <div class="text-light-grey md-list-item-text" layout="column" flex="40">
          <p style="font-size:20px">{{ course.section.id }} ({{course.section.type}})</p>
          <span style="font-size:16px">{{course.section.date}}</span>
          <span style="font-size:16px">{{course.section.location}}</span>
        </div>
        <div class="md-secondary">
          <md-button class="nga-fast nga-stagger nga-fade" ng-disabled="true">{{course.regisType}}</md-button>
          <p class="md-display-2 nga-fast nga-stagger nga-fade" ng-disabled="true" style="color:green; text-align:center">{{course.credit}}</p>
        </div>
      </md-list-litem>
      <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
      <md-divider hide-gt-sm ng-if="!$last"></md-divider>
    </md-list>
    <h4 ng-if="courses.length < 1" class="content-header text-grey">No course registered</h4>
  </md-card-content>
</md-card>
<md-button ng-if="courses" class="animated fadeInUp md-fab md-accent md-fab-bottom-right" style="position:fixed" aria-label="ShowJSON" ng-click="showJSON(courses)">
  <md-tooltip md-direction="left" md-visible="tooltipVisible">Show JSON</md-tooltip>
  <ng-md-icon icon="code"></ng-md-icon>
</md-button>


<div class="md-padding"></div>
