$gray: #eee;

body {
  font-family: 'Roboto', sans-serif;
}

md-content.md-default-theme {
  background-color: #eee;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.icon-head {
  width: 48px;
  height: 48px;
  font-size: 48px;
  margin: 16px;
}

.text-front {
  text-align: right;
  font-weight: 300;
  color: #9E9E9E;
  font-family: 'Roboto', sans-serif;
}

.text-sub {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.content-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.light {
  font-weight: 300;
}

.text-light-grey {
  color: #424242;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.text-semilight {
  font-weight: 400;
}

.text-grey {
  color : #757575;
}

.text-sub-grey {
  color : #9E9E9E;
}

.text-green {
  color : #00796B;
}

.login-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gradient-bg {
  background: rgba(210,255,82,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}
